.title-theme-switch-container {
  @include flex(row nowrap, center, space-between);
  padding: 1.5rem 5%;
  background-color: $darkModeElements;
  @include boxShadow();
  width: 100%;
  margin-bottom: 1.5rem;

  .title {
    font-weight: 800;
  }

  .toggle-switch {
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    transition: all 0.2s;

    .toggle-switch-icon {
      margin-right: 5px;
    }

    @media only screen and (min-width: 685px) {
      padding: 5px;

      &:hover {
        border: 1px solid $white;
        // color: $lightModeInput;
      }
    }
  }
}
